<% content_for :section_title, "Wells" %>

<div class="mb-10">

  <h4 class="uppercase text-grey-darker tracking-wide font-semibold text-sm border-b border-grey-light pb-3 mb-3">Default</h4>

  <div class="bg-grey-lighter text-center lg:p-16 p-8 rounded-lg max-w-lg my-4">
    <h2 class="text-black lg:text-4xl text-2xl lg:mb-4 mb-2">Empty state well title</h2>
    <p class=" text-grey-darker lg:text-xl text-base  leading-normal">Description for the empty state running across a couple of lines. Nullam quis risus eget urn. Posuere consectetur est at lobortis. <a href="#" class="link">Learn More</a></p>
  </div>

<% content_for :snippet, flush: true do %>
&lt;div class="bg-grey-lighter text-center lg:p-16 p-8 rounded-lg max-w-lg my-4"&gt;
  &lt;h2 class="text-black lg:text-4xl text-2xl lg:mb-4 mb-2"&gt;Empty state well title&lt;/h2&gt;
  &lt;p class=" text-grey-darker lg:text-xl text-base  leading-normal"&gt;Description for the empty state running across a couple of lines. Nullam quis risus eget urn. Posuere consectetur est at lobortis. &lt;a href="#" class="link"&gt;Learn More&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;
<% end %>
  <%= render "docs/snippet" %>
</div>