<div class="container mx-auto my-10 lg:px-0 px-4">
  <div class="lg:w-2/5 w-full m-auto">
    <div class="lg:p-10 p-4 bg-white rounded-lg border border-gray-300">
      <%= yield :form_block %>
    </div>
  </div>
</div>
