<%= form_with model: current_account,
  url: subscription_url,
  method: :post,
  data: {
    controller: "braintree",
    target: "braintree.form",
    braintree_env: braintree_env,
    braintree_client_token: Pay.braintree_gateway.client_token.generate
  } do |f| %>

  <%= tag.div nil, data: { target: "braintree.dropin" } %>

  <%= f.hidden_field :plan, value: @plan.id %>

  <div class="my-8 text-center">
    <%= f.button 'Subscribe',
      class: "btn btn-primary",
      data: {
        action: "click->braintree#submit",
        disable_with: disable_with("Processing...")
      } %>
  </div>
<% end %>
