<h1 class="pt-4">Design System</h1>

<div class="max-w-lg text-grey-darker">
  <p class="leading-normal text-xl mb-4">Use this system as a starting point for your own template.</p>
  <p class="leading-normal mb-4">To the left are sections of components and their relative code snippets. You're welcome to change anything to match your own branding.</p>

  <h3 class="text-grey-darkest mb-4">Tailwind CSS</h3>
  <p class="leading-normal mb-4">This application template utilizes <a class="link" href="https://tailwindcss.com" target="_blank">Tailwind CSS</a> as a utility-first approach towards designing an application. Refer to the documentation to understand how it works and to configure for your own needs.</p>
  <p class="leading-normal mb-4">Be sure to modify the <code>tailwind.js</code> file to include any additional colors, fonts, styles and more. Find it in <code>app/javascript/stylesheets/</code>.</p>

</div>
