<div class="bg-white border border-grey-light rounded">
<%= nav_link_to "Profile", edit_user_registration_path,   class: "block no-underline p-3 px-6 rounded-t", active_class: "bg-primary text-white", inactive_class: "text-grey-darker" %>
<%= nav_link_to "Password", edit_password_path,           class: "block no-underline p-3 px-6", active_class: "bg-primary text-white", inactive_class: "text-grey-darker" %>
<%= nav_link_to "Accounts", user_connected_accounts_path, class: "block no-underline p-3 px-6", active_class: "bg-primary text-white", inactive_class: "text-grey-darker" %>
<%= nav_link_to "Billing", subscription_path,             class: "block no-underline p-3 px-6 rounded-b", active_class: "bg-primary text-white", inactive_class: "text-grey-darker" %>
</div>