<div class="py-32 max-w-md m-auto text-center flex flex-col items-center justify-center">

  <h1 class="mb-2">Welcome to Jumpstart</h1>
  <p class="mb-6 text-gray-darkest leading-normal text-xl">Jumpstart is the perfect starting point for your next Ruby on Rails app.
  Skip the boilerplate setup and build your app faster.</p>

  <div class="flex flex-wrap items-center justify-between">
    <%= link_to "Configure Jumpstart", jumpstart_path, data: { turbolinks: false }, class: "btn btn-primary lg:mr-4 mr-0 lg:mb-0 mb-4" %>
  </div>

  <br />

  <div class="flex flex-wrap items-center justify-between">
    <%= link_to "Create a User", new_user_registration_path, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
    <%= link_to "Read the Docs", jumpstart_docs_path, target: :_blank, data: { turbolinks: false }, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
  </div>
</div>
