<h1>🙌 Welcome to Jumpstart</h1>

<% unless user_signed_in? %>
  <%= link_to "Get Started", new_user_registration_path %>
<% end %>

<hr class="border-b" />

<h4>Buttons</h4>
<p class="mb-2">
  <button class="btn btn-grey">Button</button>
  <button class="btn btn-red">Button</button>
  <button class="btn btn-blue">Button</button>
  <button class="btn btn-green">Button</button>
</p>

<p class="mb-2">
  <button class="btn btn-sm btn-grey">Button</button>
  <button class="btn btn-grey">Button</button>
  <button class="btn btn-lg btn-grey">Button</button>
</p>

<p class="mb-2">
  <button class="btn btn-block btn-grey">Block Button</button>
</p>

<hr class="border-b" />

<h4>Tabs</h4>

<div data-controller="tabs" data-tabs-active-tab="-mb-px border-l border-t border-r rounded-t">
  <ul class="list-reset flex border-b">
    <li class="-mb-px mr-1" data-target="tabs.tab" data-action="click->tabs#change">
      <a class="bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold no-underline" href="#">Active</a>
    </li>
    <li class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
      <a class="bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold no-underline" href="#">Tab</a>
    </li>
    <li class="mr-1" data-target="tabs.tab" data-action="click->tabs#change">
      <a class="bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold no-underline" href="#">Tab</a>
    </li>
    <li class="mr-1">
      <a class="bg-white inline-block py-2 px-4 text-grey-light font-semibold no-underline" href="#">Tab</a>
    </li>
  </ul>

  <div class="hidden py-4 px-4 border-l border-b border-r" data-target="tabs.panel">
    Tab panel 1
  </div>

  <div class="hidden py-4 px-4 border-l border-b border-r" data-target="tabs.panel">
    Tab panel 2
  </div>

  <div class="hidden py-4 px-4 border-l border-b border-r" data-target="tabs.panel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y3niFzo5VLI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<hr class="border-b" />

<h4>Modals</h4>

<div data-controller="modal">
  <button class="btn btn-grey" data-action="click->modal#open">Open Modal</button>

  <div data-target="modal.container" class="hidden">
    <div class="fixed z-50 pin-t pin-l w-full h-full table" style="background-color: rgba(0, 0, 0, .5);">
      <div data-target="modal.background" data-action="click->modal#closeBackground" class="table-cell align-middle">

        <div class="bg-white mx-auto rounded shadow p-8" style="width:480px">
          <h2>Content</h2>
          <p>This is an example modal dialog box.</p>
          <div class="text-right">
            <button class="btn btn-sm btn-grey">Does nothing</button>
            <button class="btn btn-grey" data-action="click->modal#close">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
