<div class="py-32 max-w-md m-auto text-center flex flex-col items-center justify-center">

  <h1 class="mb-2">Welcome to Jumpstart</h1>
  <p class="mb-4 text-grey-darker leading-normal text-lg">Jumpstart is the perfect starting point for your next Ruby on Rails app.
  Skip the boilerplate setup and build your app faster.</p>

  <div class="flex flex-wrap items-center justify-between">
    <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary lg:mr-2 mr-0" %>
    <%= link_to "Read the docs", "#", class: "btn btn-secondary" %>
  </div>

</div>
