<h1>🙌 Welcome to Jumpstart</h1>

<% unless user_signed_in? %>
  <%= link_to "Get Started", new_user_registration_path %>
<% end %>


<div data-controller="modal">
  <button data-action="click->modal#open">Open Modal</button>

  <div data-target="modal.container" class="hidden">
    <div class="fixed z-50 pin-t pin-l w-full h-full table" style="background-color: rgba(0, 0, 0, .5);">
      <div data-target="modal.background" data-action="click->modal#closeBackground" class="table-cell align-middle">

        <div class="bg-white w-64 mx-auto rounded shadow p-8">
          <h2>Content</h2>
          <button>Does nothing</button>
          <button data-action="click->modal#close">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
