<h1>Pricing</h1>
<p class="text-xl">Simple, straightforward pricing to get your online business up and running</p>

<hr />

<div data-controller="pricing" data-pricing-plans-class="flex hidden" data-pricing-interval-class="bg-white text-black">
  <div class="inline-block rounded-full bg-blue-dark py-2 px-1 text-white mb-4">
    <a data-action="click->pricing#switch" data-target="pricing.monthlyToggle" data-show="monthly" class="cursor-pointer py-2 px-4 bg-white rounded-full text-black">Monthly</a>
    <a data-action="click->pricing#switch" data-target="pricing.yearlyToggle" data-show="yearly" class="cursor-pointer py-2 px-4 rounded-full"> Yearly</a>
  </div>

  <div data-target="pricing.monthlyPlans" class="flex -mx-4">
    <% Jumpstart.config.monthly_plans.each do |plan| %>
      <%= render layout: "subscriptions/plan", locals: { plan: plan, interval: "month" } do %>
        <%= link_to "Get Started", new_subscription_path(plan: plan["id"], interval: "month"), class: "btn btn-rounded btn-lg btn-blue" %>
      <% end %>
    <% end %>
  </div>

  <div data-target="pricing.yearlyPlans" class="hidden -mx-4">
    <% Jumpstart.config.yearly_plans.each do |plan| %>
      <%= render layout: "subscriptions/plan", locals: { plan: plan, interval: "year" } do %>
        <%= link_to "Get Started", new_subscription_path(plan: plan["id"], interval: "year"), class: "btn btn-rounded btn-lg btn-blue" %>
      <% end %>
    <% end %>
  </div>
</div>
