<div class="flex flex-wrap my-4 lg:px-4">
  <div class="lg:w-1/4 w-full p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>

  <div class="lg:w-3/4 w-full p-4">
    <div class="lg:p-10 p-4 bg-white rounded-lg border border-gray-300">
      <h1 class="h2 mb-2"><%= t(".title") %></h2>

      <% if account_admin?(current_account, current_user) %>
        <%= render "current_plan" %>
      <% else %>
        <p><%= t(".contact_admin", account: current_account.name) %></p>
      <% end %>
    </div>
  </div>
</div>
