<% content_for :section_title, "API" %>

<div class="mb-20">
  <div class="mb-10">
    <p class="mb-4 text-xl text-gray-700 leading-normal">Jumpstart Pro can provide API access to your application with API tokens and authentication already handled for you.</p>

    <p class="mb-4">Coming soon...</p>
  </div>
</div>
