<% content_for :section_title, "Billing" %>

<div class="mb-20">
  <div class="mb-10">
    <p class="text-xl text-gray-700 leading-normal">Jumpstart uses the <%= link_to "Pay gem", "https://github.com/excid3/pay", target: "_blank", class: "link underline" %> for handling payments and billing.</p>
  </div>

  <h2 class="pb-3 mb-6 border-b border-gray-400">Accepting Payments</h2>
  <p class="mb-4">Jumpstart Pro supports using Stripe, Braintree, or a combination of the two for payments and is configured for monthly and yearly subscriptions out of the box. PayPal is supported through the Braintree integration and may be used entirely on its own or in combination with the Braintree credit card form.</p>
  <p class="mb-4">Each subscription is attached to a Team, which allows us to offer multiple subscriptions like Github, should you wish to use that.</p>
  <p class="mb-4">You may also use the payments functionality in Jumpstart Pro to process one-time payments instead. In fact, that's what we're using on our website to sell Jumpstart Pro!</p>

  <div class="alert alert-warning mb-6" role="alert">
    <div class="flex items-start justify-start">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current icon mr-4 mt-1 flex-no-shrink" role="img" aria-labelledby="hstzpl9mrdyr5adgzaugro54e5aap8m"><title id="hstzpl9mrdyr5adgzaugro54e5aap8m">Icons/bookmark</title><path d="M2 2c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v18l-8-4-8 4V2z"></path></svg>

      <div>
        <h4 class="font-black text-sm uppercase tracking">Note: When disabling providers</h4>
        <p class="leading-normal">Just a heads up! If you remove all of your payment providers, the Pricing page and the Billing management page under Account Settings will be disabled.</p>
      </div>
    </div>
  </div>

  <h2 class="pb-3 mb-6 border-b border-gray-400">Subscriptions</h2>
  <p class="mb-4">Subscriptions in Jumpstart Pro are billed against a Team, not a User. This allows you to handle various different billing situations.</p>
  <p class="mb-4">To subscribe an individual, they just need to be logged in as their personal team and the subscription will be billed to them.</p>
  <p class="mb-4">Team billing allows you to share resources and billing functionality with the entire team and allows any member to manage the subscription. It's much easier to start with team billing support than adding it later, so we've got you covered even if you don't need it right away.</p>
  <p class="mb-4">For more information on how teams work in Jumpstart Pro, check out <%= link_to "the Teams documentation", teams_jumpstart_docs_path, target: :_blank, class: "text-blue-500" %>.</p>

  <h3 class="pb-3 mb-6 border-b border-gray-400">Defining Plans</h3>
  <p class="mb-4">Plans can be defined in the <%= link_to "Plans Admin", admin_plans_path, target: :_blank, class: "text-blue-500" %> and allows for changes without deploying code. Each plan should be defined with the price amount in cents.</p>
  <p class="mb-4">The Stripe and Braintree IDs are used to subscribe the user to the matching plan defined inside Stripe or Braintree.</p>

  <h3 class="pb-3 mb-6 border-b border-gray-400">Stripe</h3>
  <p class="mb-2">Processing payments with Stripe is as simple as adding your Stripe credentials, enabling the Stripe configuration, and adding plans with Stripe IDs on them.</p>

  <h4 class="pb-3 mb-6 mt-6 border-b border-gray-400 tracking-wider font-semibold uppercase text-gray-700">Webhooks</h4>
  <p class="mb-4">The <code>/webhooks/stripe</code> endpoint is available in your application for handling webhooks from Stripe. You can add the webhook to Stripe to have it process activity from your Stripe account.</p>

  <h3 class="pb-3 mb-6 mt-6 border-b border-gray-400">Braintree</h3>
  <p class="mb-4">Processing payments with Braintree is as simple as adding your Braintree credentials, enabling the Braintree configuration, and adding plans with the Braintree IDs on them. We handle all the heavy lifting such as calculation proration discounts to allow users to swap between monthly and yearly plans which Braintree does not support out of the box.</p>

  <h4 class="pb-3 mb-6 mt-6 border-b border-gray-400 tracking-wider font-semibold uppercase text-gray-700">Plan Credit Discount</h4>
  <p class="mb-4">Before using Braintree, you will need to define a <code>plan-credit</code> discount in your Braintree control panel. This discount will be used to properly prorate subscriptions that change from yearly to monthly billing, or from monthly to yearly billing.</p>
  <p class="mb-4">The discount amount configured in the Braintree control panel can be any value you wish, as Pay will override the defined amount with our own custom amount each time we apply the coupon. This coupon is needed since Braintree does not natively support prorating subscriptions across subscription frequencies.</p>

  <h4 class="pb-3 mb-6 mt-6 border-b border-gray-400 tracking-wider font-semibold uppercase text-gray-700">Webhooks</h4>
  <p>The <code>/webhooks/braintree</code> endpoint is available in your application for handling webhooks from Braintree. You can add the webhook to Braintree to have it </p>

  <h4 class="pb-3 mb-6 mt-6 border-b border-gray-400 tracking-wider font-semibold uppercase text-gray-700">PayPal</h4>
  <p class="mb-4">PayPal is supported out of the box using Braintree for processing.</p>
  <p class="mb-4">To enable PayPal in Jumpstart, you'll first need to enable it in your Braintree account under the Processing Options section.</p>
  <%= image_tag "https://i.imgur.com/coAmQpf.png", class: "mb-4" %>

  <p class="mb-4">Jumpstart supports two PayPal configurations:</p>

  <ol class="list-decimal list-inside mb-4">
    <li>PayPal inside Braintree's Drop-In UI</li>
    <li>Standalone PayPal button</li>
  </ol>

  <p class="mb-4">The Braintree Drop-In UI is a widget like Stripe elements that handles all the various enabled payment options. If you wish to process both credit cards and PayPal through Braintree, this is the best option.</p>
  <p class="mb-4">The Standalone PayPal button is designed for users who want to use PayPal with Stripe or by itself. This embeds a PayPal checkout button in the form without using the Braintree Drop-In UI. It still uses the Braintree Javascript to do this, but without the credit card form.</p>

  <h2 class="pb-3 mb-6 border-b border-gray-400">One-time Payments</h2>
  <p class="mb-4">If you want to sell products that are one-time purchases, you can use the payment forms from Jumpstart Pro to do this.</p>
  <p class="mb-4">The easiest way to do this is to have a user put their card in first and then show them the checkout form.</p>
  <p class="mb-4">An example from the Jumpstart Pro website when purchasing a license: We check if the current team has a card on file, if so we let you purchase a license. If not, we display the card form.</p>

  <pre><code>
    &lt;% if !current_team.card_type? %&gt;
      &lt;p&gt;First, add a payment method to your account:</p>

      &lt;%= render 'cards/forms/stripe'    if Jumpstart.config.stripe? %&gt;
      &lt;%= render 'cards/forms/braintree' if Jumpstart.config.braintree? %&gt;
      &lt;%= render 'cards/forms/paypal'    if Jumpstart.config.paypal? %&gt;
    &lt;% else %&gt;
      &lt;%= render 'form', license: @license %&gt;
    &lt;% end %&gt;
  </code></pre>

  <p class="mb-4">Then on the LicenseController create action, we use <code>current_team.charge(amount)</code> from Pay to issue the charge before creating the license.</p>

  <h3 class="pb-3 mb-6 border-b border-gray-400">Caveats</h3>
  <p class="mb-4">A user cannot switch from paying with Stripe to Braintree during their subscription. They must cancel and resubscribe to switch payment providers.</p>
  <p class="mb-4">Since the Javascript for processing Stripe and Braintree are different, it's hard to build a single form with both Stripe and Braintree credit card fields in one. With some changes to our Javascript, we may be able improve this in the future.</p>
</div>
