<% content_for :section_title, "Accounts" %>

<div class="mb-10">
  <p class="text-xl text-gray-700 leading-normal">Accounts are a core piece of functionality for many applications these days and Jumpstart comes preconfigured with them so you don't have to do any of the heavy lifting.</p>
</div>

<div class="mb-10 pb-10 border-b border-gray-300">
  <h3 class="h2 mb-2 pb-2">Personal Account</h3>

  <p class="mb-4 leading-normal">Every user has a personal account they are an admin of. A personal account does not allow other users on it. This allows our code to work exactly the same whether we're adding resources privately for a user or a account of users.</p>
  <p class="mb-4 leading-normal">Github is a great example of this case. Repositories can be personal or on an organization (their name for accounts) and by setting them up this way, we can have our code treat them exactly the same.</p>
</div>

<div class="mb-10 pb-10 border-b border-gray-300">
  <h3 class="h2 mb-2 pb-2">Additional Accounts</h3>

  <p class="mb-4 leading-normal">Users can create additional accounts and invite other users to join them. Once created, users can switch which account they're viewing from their account dropdown in the navbar.</p>
  <p class="mb-4 leading-normal">Each account has separate billing, which allows you to setup flexible subscriptions based upon the account. This is also similar to Github where you can pay for a personal account or you can pay for an organization account.</p>
  <p class="mb-4 leading-normal">If you don't want to use the accounts functionality, you can simply remove links to the accounts. We encourage you to keep the accounts functionality around  as it allows you flexibility in the future should you choose to implement accounts later on.</p>
</div>

<div class="mb-10 pb-10">
  <h3 class="h2 mb-2 pb-2">Account Roles</h3>

  <p class="mb-4 leading-normal">Users can be assigned a role for each account they are a part of. By default, we only provide an <code>admin</code> role, but you can add more rules in <code>app/models/account_user.rb</code>. These roles will be listed in the UI when adding or editing a account member.</p>
  <p class="mb-4 leading-normal">You can check the role on the account member to restrict access to certain functionality on the account as needed.</p>

  <p class="mb-4 leading-normal">To access the current account member or roles, you can use the following helpers in your controllers and views:</p>

  <pre><code>current_account_user #=> AccountUser
current_roles #=> [:admin]</code></pre>

  <p class="mb-4 leading-normal">You can also access the roles individually on the AccountUser model:</p>

  <pre><code>account_user = AccountUser.new
account_user.admin? #=> false
account_user.admin = true
account_user.admin? #=> true
account_user.active_roles #=> [:admin]</code></pre>
</div>
