.main {
  min-height: calc(100vh - 64px);
}

html {
    font-size: 14px;
}

@media (min-width: 420px) {
  html {
    font-size:16px;
  }
}

a {
  @apply text-primary;

  &:hover,
  &:focus {
    @apply text-primary-dark;

    transform: none;
  }
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}
