.btn {
  @apply inline-flex font-bold text-xs uppercase tracking-wide text-center px-4 py-0 rounded no-underline items-center justify-between;

  height: 36px;
  line-height: 36px;
  transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

  &:hover,
  &:focus {
    transform: translateY(-1px);
    box-shadow: none;

    @apply cursor-pointer;
  }

  @media screen and (max-width: 767px) {
    @apply block w-full mb-4;
  }
}

.btn-small {
  @apply px-4;

  height: 32px;
  line-height: 32px;
}

.btn-large {
  @apply text-base px-6;

  height: 48px;
  line-height: 48px;
}

.btn-primary {
  @apply bg-primary text-white;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(78, 104, 242, 0.1);

  &:hover,
  &:focus {
    @apply bg-primary-dark;
  }

  &.outline {
    @apply bg-transparent border border-primary text-primary shadow-none;

    &:hover,
    &:focus {
      @apply bg-primary text-white;
    }
  }
}

.btn-secondary {
  @apply bg-secondary text-white;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(54, 180, 124, 0.1);

  &:hover,
  &:focus {
    @apply bg-secondary-dark;
  }

  &.outline {
    @apply bg-transparent border border-secondary-dark text-secondary-dark shadow-none;

    &:hover,
    &:focus {
      @apply bg-secondary text-white;
    }
  }
}

.btn-tertiary {
  @apply bg-tertiary text-white;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(87, 88, 110, 0.1);

  &:hover,
  &:focus {
    @apply bg-tertiary-dark;
  }

  &.outline {
    @apply bg-transparent border border-tertiary text-tertiary shadow-none;

    &:hover,
    &:focus {
      @apply bg-tertiary text-white;
    }
  }
}

.btn-danger {
  @apply bg-danger text-white;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(243, 123, 123, 0.1);

  &:hover,
  &:focus {
    @apply bg-danger-dark;
  }

  &.outline {
    @apply bg-transparent border border-danger text-danger shadow-none;

    &:hover,
    &:focus {
      @apply bg-danger text-white;
    }
  }
}

.btn-white {
  @apply bg-white;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(78, 104, 242, 0.1);

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &.primary {
    @apply text-primary;
  }

  &.secondary {
    @apply text-secondary;
  }

  &.tertiary {
    @apply text-tertiary;
  }

  &.gray {
    @apply text-gray-700;
  }
}

.btn-link {
  @apply text-primary bg-transparent;

  &:hover,
  &:focus {
    @apply text-primary-dark;

    transform: none;
  }
}
