.btn {
  @apply inline-flex font-bold text-sm text-center px-4 py-0 rounded no-underline items-center justify-between;

  height: 40px;
  line-height: 40px;
  transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

  &:hover,
  &:focus {
    @apply cursor-pointer;
  }

  @media screen and (max-width: 767px) {
    @apply block w-full mb-4;
  }
}

.btn-small {
  @apply px-4;

  height: 32px;
  line-height: 32px;
}

.btn-large {
  @apply text-base px-6;

  height: 48px;
  line-height: 48px;
}

.btn-primary {
  @apply bg-primary text-white;

  &:hover,
  &:focus {
    @apply bg-primary-dark;
  }

  &.outline {
    @apply bg-transparent border border-primary text-primary shadow-none;

    &:hover,
    &:focus {
      @apply bg-primary text-white;
    }
  }
}

.btn-secondary {
  @apply bg-secondary text-white;

  &:hover,
  &:focus {
    @apply bg-secondary-dark;
  }

  &.outline {
    @apply bg-transparent border border-secondary-dark text-secondary-dark shadow-none;

    &:hover,
    &:focus {
      @apply bg-secondary text-white;
    }
  }
}

.btn-tertiary {
  @apply bg-tertiary text-white;

  &:hover,
  &:focus {
    @apply bg-tertiary-dark;
  }

  &.outline {
    @apply bg-transparent border border-tertiary text-tertiary shadow-none;

    &:hover,
    &:focus {
      @apply bg-tertiary text-white;
    }
  }
}

.btn-danger {
  @apply bg-danger text-white;

  &:hover,
  &:focus {
    @apply bg-danger-dark;
  }

  &.outline {
    @apply bg-transparent border border-danger text-danger shadow-none;

    &:hover,
    &:focus {
      @apply bg-danger text-white;
    }
  }
}

.btn-white {
  @apply bg-white;

  &:hover,
  &:focus {
    @apply bg-gray-100;
  }

  &.primary {
    @apply text-primary;
  }

  &.secondary {
    @apply text-secondary;
  }

  &.tertiary {
    @apply text-tertiary;
  }

  &.gray {
    @apply text-gray-700;
  }
}

.btn-link {
  @apply text-primary bg-transparent;

  &:hover,
  &:focus {
    @apply text-primary-dark;

    transform: none;
  }
}
