.form-group {
  @apply mb-6;

  label {
    @apply block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2;
  }

  .form-control {
    @apply appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight;

    &:focus {
      @apply outline-none bg-white border-grey;
    }
  }

  .select {
    @apply relative;

    select {
      -webkit-apperance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .caret {
      @apply pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker;
    }

  }

  .hint {
    @apply text-grey-dark text-xs italic;
  }
}
