.form-group {
  @apply mb-6 relative;
}

.form-control {
  @apply bg-white appearance-none block w-full text-black border border-gray-400 rounded py-3 px-4 leading-none;

  transition: ease 0.2s border;

  &:focus {
    @apply shadow outline-none border-primary-500;

    box-shadow: 0 0 0 0.2rem theme("colors.primary.100");
    background-clip: padding-box;
  }

  &::placeholder {
    @apply text-gray-600;
  }

  &.error {
    @apply border-red-300;
  }
}

label,
.label {
  @apply block  text-gray-800 mb-1 cursor-pointer;
}

.form-hint {
  @apply text-gray-600 text-xs italic;

  &.error {
    @apply text-red-500 text-sm italic leading-normal mt-1;
  }
}

.select {
  @apply appearance-none block w-full bg-white border border-gray-400 text-gray-700 rounded leading-tight;
  -webkit-appearance: none;
  padding: 10px 24px 10px 10px;
}

.select:focus {
  @apply outline-none bg-white border-primary-500;
}

.caret {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-800;
}

form.inline {
  .form-group {
    @apply flex justify-start items-center;
  }

  .form-group .input {
    @apply flex-1;
  }

  .form-group .label {
    @apply w-1/4;
  }
}

// Fix flatpickr
.flatpickr-current-month .flatpickr-monthDropdown-months {
  display: inline-block;
}

.input-checkbox {
  @apply flex items-center justify-start;

  input[type="checkbox"] {
    @apply hidden appearance-none;

    &:checked ~ label:before {
      content: "";
      background-image: url("../images/icons/checkmark.svg");
      background-size: 10px 10px;
      border-radius: 2px;
      @apply bg-primary-500 border-transparent text-white bg-no-repeat bg-center ease-in-out duration-100 shadow-none;
    }

    &:disabled {
      @apply pointer-events-none opacity-50;
    }
  }

  label {
    @apply cursor-pointer appearance-none;

    &:before {
      border-radius: 2px;
      border: 1px solid rgb(209, 209, 209);
      box-shadow: inset 0 1px 1px rgba(#ddd, 0.8);
      content: "";
      height: 16px;
      margin-right: 10px;
      top: -5px;
      width: 16px;

      @apply bg-white inline-flex items-center justify-center relative;
    }

    &:hover::before {
      @apply bg-gray-100 border-gray-500;
    }
  }
}

.input-file {
  height: auto;
  z-index: 2;
  cursor: pointer;

  @apply opacity-0 inline-block pl-0 pr-0 py-3 px-3 overflow-hidden absolute border-none;

  + label {
    @apply inline-flex text-sm font-bold text-center px-4 py-0 rounded no-underline items-center justify-between cursor-pointer;

    height: 40px;
    line-height: 40px;
    transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

    @extend .btn;
    @extend .btn-tertiary.outline;

    &:focus {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}
