<%= content_for :title, t("shared.scaffold.new.title", model: "Post") %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Posts", posts_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= t("shared.scaffold.new.title", model: "Post") %>
    </h1>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render "form", post: @post %>
  </div>
</div>
